<!DOCTYPE html>
<html>
<head>
<style>

body {
  width: 1000px;
  position: relative;
  background-color: none;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: <%= r['size'] %>px <%= r['font'] %>;
  background-color: none;
  position: relative;
  top: -30px;
  left: 100px;
  color: <%= r['color'] %>;
  xxxxtext-shadow: 0 0 3px rgba(0, 0, 128, 0.25);
  z-index: 50;

  transform: <%= r['transform'] %>;
}
</style>
</head>
<body>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1><%= r['text'] %></h1>
</body></html>
